@font-face {
  font-family: AvenirRoman;
  src: url(../font/Avenir-roman.ttf);
}

@font-face {
  font-family: AvenirMedium;
  src: url(../font/Avenir-medium.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(../font/Avenir\ -black.ttf);
}

:root {
  --body-color: #e4e9f7;
  --primary-color: #fff;
  --secondary-color: #000;
  --accent-color: #ff0000;

  --paragraph-font: 400 16px/1.5 "Avenir-roman", "Arial", sans-serif;
  --heading-2-font: 700 2.25rem/1.5 "AvenirBlack", "Arial", sans-serif;
  --heading-3-font: 700 2rem/1.5 "AvenirBlack", "Arial", sans-serif;
  --heading-4-font: 700 1.3462rem/1.5 "AvenirBlack", "Arial", sans-serif;

  --element-spacing: 5px 0 5px 0;
  --primary-borderradius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
}

::selection {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

section {
  display: none;
  position: absolute;
  top: 0;
  left: 260px;
  min-height: 100vh;
  background-color: var(--body-color);
  transition: 0.5s;
  padding: 4em;
}

.tabcontent > *,
.tabcontent > * > * {
  padding: var(--element-spacing);
}

p {
  max-width: 35em;
  font: var(--paragraph-font);
  color: var(--secondary-color);
}

code {
  display: block;
  font-family: var(--primary-font);
  background-color: darkslategray;
  color: rgb(188, 178, 125);
  max-width: 15em;
  border-radius: var(--primary-borderradius);
}

h2 {
  font: var(--heading-2-font);
  color: var(--secondary-color);
}

h3 {
  font: var(--heading-3-font);
  color: var(--secondary-color);
}

h4 {
  font: var(--heading-4-font);
  color: var(--secondary-color);
}
