.typografie-avenirmedium {
  font-family: "AvenirMedium";
}

.typografie-avenirblack {
  font-family: "AvenirBlack";
}

p.typografie {
  background-color: white;
  padding: 10px;
  border-radius: var(--primary-borderradius);
}

h2.typografie,
h3.typografie,
h4.typografie {
  background-color: white;
  text-align: center;
  border-radius: var(--primary-borderradius);
  padding: 10px;
}

h2 > a,
h3 > a,
h4 > a,
p > a {
  color: var(--secondary-color);
}

h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
p > a:hover {
  color: var(--accent-color);
}
